<div>
    <div class = "container">
        <div class = "row">
            <header class = "jumbotron">
            <h1 style = "text-align: center">Show All Orders </h1> 
            <div style = "width:100%; margin: 25px auto;">
                
    
    <input type="button" value="Load Orders Data" class="btn  btn-success" (click)="loadData()">&nbsp;
    <input type="button" value="Update" class="btn  btn-warning" routerLink = "/orders/update">&nbsp;
    <input type="button" value="Delete" class="btn  btn-danger" routerLink = "/orders/delete"><br/><br/><br/>
    
    <div *ngIf="flag">
    <table border="1" align="center">
        <tr>
            <th>Customer Id</th>
            <th>Product Id</th>
            <th>Courrier Id</th>
            <th>Order Id</th>
            <th>Delivery Status</th>
            <th>Quantity</th>
            <th>Order Date</th>
            <th>Price</th>
            
        </tr>
        <tr *ngFor="let Orders of OrdersInfo">
            <td>{{Orders.cid}}</td>
            <td>{{Orders.pid}}</td>
            <td>{{Orders.coid}}</td>
            <td>{{Orders.oid}}</td>
            <td>{{Orders.deliveryStatus}}</td>
            <td>{{Orders.quantity}}</td>
            <td>{{Orders.orderDate}}</td>
            <td>{{Orders.price}}</td>
           
        </tr>
    </table>
</div>
<a href = "/" style="color:blue">Go Back</a>
               
            </div>
        
      
            </header>
        </div>
    
        </div>
</div>

